.cta-block{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 0.3rem;
}
.mask{
    background-color: rgba(0, 0, 0, 0.56);
    color: #007bff;
}
hr{
    border-top: 1px solid rgb(0, 123, 255);
}
.catalog .catalog-item{
    cursor: pointer;
}
.catalog .catalog-item img{
    clip-path:         polygon(0% 0%, 0% 43%, 0% 53%, 0% 100%, 45% 100%, 55% 100%,100% 100%, 100% 53%, 100% 43%, 100% 0%, 55% 0%, 45% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 43%, 0% 53%, 0% 100%, 45% 100%, 55% 100%,100% 100%, 100% 53%, 100% 43%, 100% 0%, 55% 0%, 45% 0%);
    transition: clip-path 0.35s;
    transition: -webkit-clip-path 0.35s;
}
.catalog .catalog-item:hover img{
    clip-path:         polygon(46% 43%, 15% 43%, 15% 53%, 46% 53%, 46% 86%, 54% 86%,54% 53%, 85% 53%, 85% 43%,54% 43%, 54% 14%, 45% 14%);
    -webkit-clip-path: polygon(46% 43%, 15% 43%, 15% 53%, 46% 53%, 46% 86%, 54% 86%,54% 53%, 85% 53%, 85% 43%,54% 43%, 54% 14%, 46% 14%);
}